body {
    font-family: Arial;
    background-color: skyblue;
    margin: 0;
}

table,
td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
}

#chartContainer {
    position: fixed;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.emphasis {
    font-weight: bold;
    background-color: yellow;
}