body {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  margin: 0;
  color: white;
}

#sketchPadContainer {
  width: 100vw;
}

/* center the container */
#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: navy;
  color: white;
}

button:hover {
  background-color: mediumblue;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
  cursor: default;
}

.info {
  user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #151515;
}

.row:nth-child(even) {
  background-color: #000;
}

.sample-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
  outline: 2px solid #f60;
  border-radius: 5px;
  text-transform: capitalize; flex: 1 1 0;
  max-width: 8%;
}

.thumbnail {
  width: 100%;
  filter: invert(1);
}

.row-label {
  flex: 2 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  margin: 2px;
  max-width: 16%;
}

.label {
  padding: 10px;
  margin: 2px;
}

.emphasis {
  background-color: #aa0 !important;
}

#chartContainer {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: black;
}

#confusionContainer {
  position: absolute;
}

#container {
  width: calc(100% - 500px);
}

#inputContainer {
  position: fixed;
  right: 500px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 10px;
  z-index: 1;
}

#controlPanel {
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  text-align: center;
  padding: 10px;
}

#predictLabelContainer {
  position: relative;
  color: white;
  font-size: 30px;
}

#statistics {
  font-size: 20px;
  padding: 10px;
}

.flagged {
  background-color: red !important;
}

.infoButton {
  color: red;
  cursor: pointer;
}

.infoButton:hover .tooltipText {
  visibility: visible;
}

.tooltipText {
  color: white;
  background-color: red;
  position: absolute;
  border-radius: 6px;
  visibility: hidden;
  font-size: small;
  padding: 6px;
  font-weight: normal;
}